.banner-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-base);
    
    h1.heading-primary{
        display: inline-block;
        span{
            color: white;
            background:transparentize($color: black, $amount: .55);
        }}

  
}


.container{
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        width: 90%;
      }
}