#home{
    position: relative;
    background: url('../../assets/gyro.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    font-family: var(--font-base);
    letter-spacing: 1px;

    .app__wrapper{
        padding: 0;

        .copyright{
            display: none;
        }
        
    }

}
.app__header{
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;

    padding: 6rem 2rem 0;
    span{
        color: var(--lightblue-color);

    }

    @media screen and (min-width: 2000px){
        padding-top: 8rem;

    }
    @media screen and (max-width: 1200px){
    flex-direction: column;
        
    }
    @media screen and (max-width: 400px){
        padding: 6rem 1rem 2rem;
        
    }
}
.app__header-info{
    flex: 0.65;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10rem;
    align-items: center;
    height: 100%;

    @media screen and (max-width: 2000px) {
        width: 100%;
        margin-right: 0rem;
    }
}
.text__container{
    display: flex;
    flex-direction: column;
    height: 500px;

    a{
       font-size: x-large !important;
        text-decoration: none;
        text-transform: lowercase;
        color: var(--white-color);
        cursor: pointer;

    }
}

.intro__container{
//  background-image: url('../../assets/blur.jpg');
margin-top: 15rem;
 border-radius: 5px;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 background:transparentize($color: rgb(42,42,42), $amount: .3);

max-width: 1500px;
height: auto;


}

.intro__text{

        text-transform: uppercase;

}

